.home{
    display: flex;
    justify-content: space-around;
    background: #ea3b06;
}
.d-header{
    color:white;
}
.d-credentials{
    border-radius: 9px;
    width: 220px;
    height: 40px;
    position: relative;
    top: 8px;
    border: none;
}
.login{
    background: green;
    border-radius: 9px;
    width: 90px;
    height: 43px;
    position: relative;
    top: 8px;
    border: none;
}
.d-content-buttons{
    display: flex;
}
.register-btn{
    background-color: green;
}
input::placeholder{
    padding-left: 5px;
}